*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Oswald', sans-serif;
}
.continar{
    background-image: url(img/donation13.jpg);
    height: 700px;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
}
.btn{
    color: beige;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}